.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #D4ADFC;
}

p {
  font-size: 2rem;
  color: #5C469C;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #5C469C;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media only screen and (max-width: 1000px)
{
  .containerf
  {
    display:flex;
    flex-wrap:nowrap;
  }
}
.btn
{
  cursor:pointer;
  background-color:#5C469C;
  color:white;
  border-radius:5px;
  padding:10px 10px;
  margin:20px;
  border:none;
  transition:0.5sec;
  width:200px;
  font-weight:600px;
  box-shadow: 0 0 20px #572688;
  overflow:visible;
  transition: background-color 0.9s;
  font-family: 'Lobster';
}
.btn:hover
{
  background-color:rgb(156, 6, 12);
}
.headder
{
  margin:0px;
  padding:10px;
  height:auto;
  width:auto;
  background-color:#5C469C;
  text-align:center;
  font-weight:600px;
  font-size:30px;
  font-family:'Script MT';
  color:hwb(270 71% 0%);
}
.player1
{
  font-family:'Script mt';
}
.player2
{
  font-family:'Script mt';

}
.footer
{
  height:auto;
  width:auto;
  margin:0px;
  padding:10px;
  height:auto;
  width:auto;
  background-color:#5C469C;
  text-align:center;
  font-weight:600px;
  font-size:30px;
  font-family:'Script MT';
  color:hwb(270 71% 0%);


}
.result h1
{   margin: 30px;
  font-size:30px;
  text-shadow: 5px 0 rgb(255, 250, 250);
  font-size:50px;  
  color: #5C469C;
  font-family: 'Lobster', cursive;
}
.result
{
  background-color:hwb(270 71% 0%);
  border-radius:50px;
  padding:0px;
  margin:10px;
  border:7px solid #5C469C ;
  width:auto;
  height:auto;
}